body {
	background: #76d7c4;
}

div#container {
	width: 500px;
	height: 250px;
	
}

div#container > div {
	width: 130px;
	height: 200px;
	background: #000;
	color: #FFF;
	float: left;
	margin: 10px;
	text-align: center;
	cursor: pointer;
}